<div class="form-group quick-filter-form">
  <div class="input-group">
    <%= text_field_tag 'q', nil, class: 'form-control input-sm quick-filter', placeholder: 'Filter', autocomplete: 'off', data: { target: target }, id: nil %>
    <div class="input-group-addon input-sm">
      <span class="glyphicon glyphicon-search"></span>
    </div>
  </div>
</div>
